@model CompetitiveRankingWeb.ViewModels.GOTYViewModel

@{
    ViewBag.Title = "Ratings";
}

<h2>Ratings</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Game of the Year</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Game</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.GOTYS.OrderBy(g => g.Item1))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => game.Item1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => game.Item2.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Game of the Decade</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Decade</th>
                    <th>Game</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.GOTDS.OrderBy(g => g.Item1))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => game.Item1)'s
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => game.Item2.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Greatest of All Time</h2>
        @Html.Partial("_GameCard", Model.GOAT)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>All Ratings</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Game</th>
                </tr>
            </thead>
            <tbody>
                @for(var i = 0; i < Model.AllGames.Count(); i++)
                {
                    <tr>
                        <td>
                            @(i+1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.AllGames[i].Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>